@import "tailwindcss";

@theme {
  /* Colores de Marca */
  --color-brand-dark: #111111;
  --color-brand-darker: #080808;
  --color-brand-yellow: #FFD700;
  --color-brand-gray: #AAAAAA;
  
  --font-kanit: 'Kanit', sans-serif;
  
  --animate-spin-slow: spin 10s linear infinite;
  --animate-marquee: marquee 20s linear infinite;
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
}

/* Estilos Globales */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700;900&display=swap');

html { scroll-behavior: smooth; }

body {
  background-color: var(--color-brand-dark);
  color: white;
  font-family: var(--font-kanit);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar Personalizada */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #111; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #FFD700; }